<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Accounting_DBEntities" connectionString="metadata=res://*/Accounting_Model.csdl|res://*/Accounting_Model.ssdl|res://*/Accounting_Model.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-SBV0NOJ\SQLSERVER19FIRST;initial catalog=Accounting_DB;user id=sa;password=&quot;Mohamad 13$0&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>